html{
    background-color: rgb(237, 218, 255);
}

.principal{
  width: 850px;
  background-color: aliceblue;
  position: relative;
  left: 23%;
  align-items: center;
  padding-left: 43px;
}

#title{
 color: rgb(154, 60, 198); 
}

header{
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    font-size: 15px;
    color: rgb(110, 43, 226);
    width: 800px;
    position:relative;
    padding-left: 40px;
    padding-top: 30px;
    column-gap: 20px;
}

.menunavegacao{
    display: flex;
    justify-items: space-between;
    align-items: center;
    column-gap: 10px;
}

#itemnav{
    display: flex;
    font-style: italic;
    color:rgb(154, 60, 198);
}

#itemnav:hover{
  color:rgb(231, 98, 32);

}

#sobremim{
  display:flex;
  align-content: center;
  align-self: center;
  flex-wrap: nowrap;
  width: 800px;
  position: relative;

  column-gap: 40px;
  padding-top: 30px;

}

#foto{
  padding-top: 20px;
  font-family: 'Courier New', Courier, monospace;  
  color: rgb(154, 60, 198);
  text-align: center;
}

#txtsobremim{
  text-align: justify;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(110, 43, 226);
   
}

#projetos{
  display: flex;
  align-content: center;
  align-self: center;
  flex-wrap: nowrap;
  width: 800px;
  position: relative;
  column-gap: 50px;
  padding-top: 30px;
  font-family: 'Courier New', Courier, monospace;
  color: rgb(110, 43, 226);
  
}

.exemplo{
  width: 40%;
  height: 40%;
}

#habilidades{
  font-family: 'Courier New', Courier, monospace;
  align-self: center;
  width: 800px;
  position: relative;
  padding-top:10px
}


#tabela{
  width: 800px;
  position:relative;
  color: rgb(110, 43, 226);
  background-color: rgba(255, 255, 255, 0.595);
  border-color:rgb(154, 60, 198);
  border-style:dashed;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

tr{
  text-align: center;
}

a:hover{
  color:rgb(231, 98, 32);
}

a{
  color: rgb(110, 43, 226);
}

#contato{
  display: flex;
  position: relative;
  width: 800px;
  align-self: center;
  padding-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  column-gap: 30px;
}

#formulario{
  display: flex;
  flex-direction: column;
  position:relative;
  align-items: center;

}

#decoracao{
  width: 40%;
  height: 40%;
}

#dados{
  color: rgb(110, 43, 226);
}

input{
  width: 400px;
  border-color: rgb(110, 43, 226);
}

textarea{
  width: 400px;
  border-color: rgb(110, 43, 226);
  border-width: 2px;
}

input[type=submit]{
  width: 408px;
  background-color: rgb(180, 134, 223);
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

footer{
  color:rgb(180, 134, 223);
  position:relative;
  align-self: center;
  left: 45%;
  padding-top: 20px;
  padding-bottom: 10px;
}
.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}
